html{
    -webkit-text-size-adjust:none;
    height:100%;
}
body{
    margin:0px;
    height:100%;
}

a,
a:visited,
a:hover{
	text-decoration:none;
}

/*font*/
.font-sub-title-1{
    font-size:0.8em;
    font-weight:bold;
}
.font-xs{
    font-size: 0.8em;
}

/*color*/
.bg-grey{
	background-color:#6e6c6d;
}

.bg-black{
	background-color:black;
}

.bg-orange{
	background-color:#e4714c;
}

.bg-white{
	background-color:white;
}

.ft-white{
    color: white;
}



/* line */
hr{
	margin:0px;
	border:0px;
}

.rule-style-1{
    height:1px;
    margin:0px auto;
}

.rule-style-2{
    height:23px;
	background-color: #e1ddda;
	border-top:solid 1px #acacac;
	border-bottom:solid 1px #acacac;
	margin:0px auto;
}

/* header */
header{
    padding-top:10px;
    padding-left:10px;
    background-color: white;
}

/* logo */
#mainLogo{
	width:150;
}

/*navigator*/
#navigator{
    margin-top: 5px;
	height:35px;
}

#navigator A{
    display:inline-block;
	line-height:35px;
	font-size:0.7em;
	font-weight:900;
	color:black;
	padding:0px 10px 0px 10px;
	background-repeat: no-repeat;
    background-position: bottom;
}

#navigator .illustration:hover{
	background-color: #61caba;
}


#navigator .painting:hover{
    background-image: url("../img/nav-painting.png");
}

#navigator .sketch:hover{
	background-image: url("../img/nav-sketchbook.png");
}

#navigator .serial:hover{
	background-image: url("../img/nav-serial.png");
}
#navigator .contact:hover{
	background-color: #c4ad89;
}

#navigator .tab-serial{
	background-image: url("../img/nav-serial.png");
    cursor:default;
}

#navigator .tab-sketch{
	background-image: url("../img/nav-sketchbook.png");
    cursor:default;
}

#navigator .tab-illustration{
	background-color: #61caba;
    cursor:default;
}

#navigator .tab-contact{
	background-color: #c4ad89;
    cursor:default;
}

/*footer*/
footer{
    margin: 0 auto -60px;
    padding-top: 10px;
    font-size: 0.7em;
    height: 150px;
}

footer .copyright{
    text-align:right;
    font-style: italic;
}

footer .post{
    border-left: 2px solid black;
    padding-left: 5px;
    height: 100px;
}
footer .post ul{
    list-style: none;
    padding-left: 0px;
}

/* main page */
#slider{
    margin-top:10px;
    margin-bottom: 60px;
}
.carousel-indicators {
    bottom: -40px;
}


.carousel-indicators>li {
    border: 1px solid #c1c1c1;
    background-color: #c1c1c1;
    margin-left: 15px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.carousel-indicators>li.active {
    border: 1px solid #c5af8a;
    background-color: #c5af8a;
    margin-left: 15px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
}