html{
	-webkit-text-size-adjust:none;
}

body{
	background-color:white;
	margin:0px;
    font-size:13px;
    min-width:640px;
}

A{
	text-decoration:none;
}

.pagePadding{
    padding-left:30px;
    padding-right:30px;
}

/* header */
#topBar{
	height:10px;
    background-color:#33423d;
	margin:0px;
}

#mainLogo{
	width:67%;
	margin:20px auto;
}

/*navigator*/
#navigator{
	width:67%;
	margin:10px auto 0px auto;
}

#navigator A{
	display:inline-block;
	line-height:35px;
	font-family:Corbel;
	font-size:1em;
	font-weight:900;
	color:black;
	padding:0px 10px 0px 10px;
	background-repeat: no-repeat;
	background-position: bottom;
}

#navigator .illustration:hover{
	background-color: #61caba;
}

#navigator .painting{
    width:54px;
}
#navigator .painting:hover{
    background-image: url("../img/nav-painting.png");
    vertical-align:bottom;
    line-height:17px;
    text-align:center;
    color:white;
}

#navigator .sketch:hover{
	background-image: url("../img/nav-sketchbook.png");
}

#navigator .serial:hover{
	background-image: url("../img/nav-serial.png");
}
#navigator .contact:hover{
	background-color: #c4ad89;
}

#navigator .tab-serial{
	background-image: url("../img/nav-serial.png");
    cursor:default;
}

#navigator .tab-sketch{
	background-image: url("../img/nav-sketchbook.png");
    cursor:default;
}

#navigator .tab-illustration{
	background-color: #61caba;
    cursor:default;
}

#navigator .tab-contact{
	background-color: #c4ad89;
    cursor:default;
}


/* line */
hr.line{
	height:1px;
	margin:0px;
	border:0px;
}
hr.line.black{
	background-color:black;
}
hr.line.grey{
	background-color:#AAA;
}
hr.line.orange{
	background-color:#cf6744;
}
hr.line.gold{
	background-color:#c4ad89;
}


/*footer*/
#footerBox{
	background-repeat:repeat-x;
	background-position: center top;
	padding-top:10px;
}

#footer{
    height:130px;
	width:67%;
}

#footerBox.grey{
	background-color:#6e6c6d;
}

#footerBox.gold{
	background-color:#e1d5c5;
}

#footerBox.orange{
	background-color:#e4714c;
}

#footerBox.green{
	background-color:#61caba;
}

#footer{
    margin:0px auto;
}

#footer .mail{
	float:left;
	width:400px;
    min-width:100px;
    max-width:400px;
}

#footer .mail SPAN{
    margin-left:3px;
	font-weight:bold;
    line-height:14px;
    vertical-align:top;
	color:black;
}

#footer .splitter{
	display:in-block;
	float:left;
	height:120px;
	width:2px;
	background-color:black;
}

#footer .post{
	float:left;
	width:250px;
    min-width:150px;
    max-width:250px;
	margin-left:10px;
}

#footer .post .recentPost{
	font-weight:bold;
	margin-bottom:10px;
}

#footer .post P{
	margin:0px;
	font-size:0.9em;
}

#footer .copyright{
	float:right;
	width:auto;
    min-width:150px;
    max-width:350px;
    text-align:right;
	font-weight:bold;
}

/*content*/
#content{
	/*background-image:url("../img/content-bg.png");*/
	background-repeat:repeat-x;
	background-position: center top;
    padding-top:20px;
    padding-bottom:20px;
}

/* pageer */
#pagerBox{
	height:25px;
	background-color: #e1ddda;
	border-top:solid 1px #acacac;
	border-bottom:solid 1px #acacac;
	padding:0px auto;

}

#pager{
	margin:0px auto;
	width:1024px;
    text-align:right;
}


#pager div{
	
}

#pager span{
	margin-left:5px;
	line-height:25px;
	font-family:Arial;
	cursor: pointer;
}

#pager span.selected{
	color:#cf6744;
	cursor: default;
}




