html{
	-webkit-text-size-adjust:none;
}

body{
	background-color:white;
	margin:0px;
    font-size:11px;
    min-width:640px;
}

A{
	text-decoration:none;
}

.pagePadding{
    padding-left:3%;
    padding-right:3%;
}

/* header */
#topBar{
	height:15px;
    background-color:#212926;
	margin:0px;
}

#mainLogo{
	margin-top:20px;
}

/*navigator*/
#navigator{
	margin-top:10px;
}

#navigator A{
	display:inline-block;
	line-height:35px;
	font-family:Corbel;
	font-size:1em;
	font-weight:900;
	color:black;
	padding:0px 10px 0px 10px;
	background-repeat: no-repeat;
	background-position: center;
}

#navigator .illustration:hover{
	background-color: #61caba;
}
#navigator .painting:hover{
	background-color: #fd6649;
}	
#navigator .sketch:hover{
	background-image: url("../img/nav-sketchbook.png");
}
#navigator .serial:hover{
	background-image: url("../img/nav-serial.png");
}
#navigator .contact:hover{
	background-color: #c4ad89;
}

#navigator .tab-serial{
	background-image: url("../img/nav-serial.png");
    cursor:default;
}

#navigator .tab-sketch{
	background-image: url("../img/nav-sketchbook.png");
    cursor:default;
}

/* line */
hr.line{
	height:1px;
	margin:0px;
	border:0px;
}
hr.line.grey{
	background-color:#acacac;
}
hr.line.orange{
	background-color:#cf6744;
}

/* pageer */
#pager{
	height:25px;
	margin:0px;
	background-color: #e1ddda;
	border-top:solid 1px #acacac;
	border-bottom:solid 1px #acacac;
}

#pager div{
    padding-left:10px;
    padding-right:10px;
    max-width:960px;
    min-width:640px;
	margin:0px auto;
	text-align:right;
}

#pager span{
	margin-left:5px;
	line-height:25px;
	font-family:Arial;
	cursor: pointer;
}

#pager span.selected{
	color:#cf6744;
	cursor: default;
}

/*footer*/
#footerBox{
	background-repeat:repeat-x;
	background-position: center top;
	padding-top:50px;
    height:180px;
}

#footerBox.gradual-gold{
	background-image:url("../img/gradual-gold-bg.png");
}

#footerBox.gradual-orange{
	background-image:url("../img/gradual-orange-bg.png");
}

#footer{
    margin:0px auto;

}

#footer td{
    vertical-align:top;
}

#footer .contact{
	width:33%;
    min-width:150px;
    max-width:350px;
}

#footer .contact .logo{
     display:block;
}

#footer .contact .mail{
    margin-top:10px;
	margin-left:5px;
    padding:0px;
}
#footer .contact .mail IMG{
    display:inline-block;
}
#footer .contact .mail SPAN{
    display:inline-block;
    margin-left:3px;
	font-weight:bold;
    line-height:14px;
    vertical-align:top;
}

#footer .post{
	width:34%;
    min-width:200px;
    max-width:400px;
    text-align:center;
}

#footer .post .recentPost{
	display:block;
	font-weight:bold;
	margin-bottom:10px;
}

#footer .post P{
	margin:0px;
	font-size:0.9em;
}

#footer .copyright{
	width:33%;
    min-width:150px;
    max-width:350px;
    text-align:right;
}
#footer .copyright .copyright_note{
	display:inline-block;
	font-weight:bold;
}#footer .copyright P{
	font-size:0.9em;
}

/*content*/
#content{
	background-image:url("../img/gradual-grey-bg.png");
	background-repeat:repeat-x;
	background-position: center top;
    padding-top:20px;
    padding-bottom:20px;
}

/* pageer */
#pager{
	height:25px;
	margin:0px;
	background-color: #e1ddda;
	border-top:solid 1px #acacac;
	border-bottom:solid 1px #acacac;
    text-align:right;
}

#pager div{
	
}

#pager span{
	margin-left:5px;
	line-height:25px;
	font-family:Arial;
	cursor: pointer;
}

#pager span.selected{
	color:#cf6744;
	cursor: default;
}

/* slider */
#slider{
    position:relative;
    max-width:960px;
    margin:0px auto;
}

#slider IMG.image{
    width:100%;
}

#slider IMG.image:first-child{
    position:relative;
    display:block;
    z-index:599;
}

#slider IMG.image:nth-child(n+2){
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:597;
}

#slider IMG.image:nth-child(2){
    display:block;
    z-index:598;
    opacity:1.0;
}

#slider .dots{
    margin: 15px auto;
    text-align:center;
}

#slider DIV.dot{
    border: 0px;
    display:inline-block;
    border: 0px;
    width: 6px;
    height: 6px;
    background-repeat:no-repeat;
}

#slider DIV.dot:nth-child(n+2){
    margin-left: 20px;
}

#slider DIV.normal{
    cursor:pointer;
    background-image:url("../img/dot-grey.png");
}

#slider DIV.current{
   cursor:default;
   background-image:url("../img/dot-gold.png");
}

/* album */
.album{
    min-width:640px;
}

.album .row{
	width:100%;
	padding:0px;
	margin-top: 15px;
}

.album  img{
	height:100%;
	width:auto;
}

.album  img:nth-child(n+1){
	margin-left:11px;
}

/* serial folder */
.SerialBox{
}

.SerialBox .row{
	height:260px;
	margin-bottom:40px;
}

.SerialBox .cell{
	width:285px;
	height:100%;
	border:solid 1px #acacac;
	float:left;
	margin:0px 15px 0px 15px;
	cursor: pointer;
}


.SerialBox .cell .thumb{
	width:100%;
	height:200px;
	border-bottom:solid 1px #acacac;
	text-align:center;
}

.SerialBox .cell .caption{
	width:100%;
	height:60px;
	border:none;
	padding-top:10px;
	padding-left:10px;
	font-family: Corbel;
	font-weight: bold;
	font-size:1.1em;
}