.SerialBox{
	width:840px;
	height:546px;
	margin: 20px auto;
}

.SerialBox .row{
	height:260px;
	margin-top:40px;
}

.SerialBox .cell{
	width:245px;
	height:100%;
	border:solid 1px #acacac;
	float:left;
	margin:0px 10px 0px 10px;
	cursor: pointer;
}


.SerialBox .cell .thumb{
	width:100%;
	height:200px;
	border-bottom:solid 1px #acacac;
}

.SerialBox .cell .caption{
	width:100%;
	height:60px;
	border:none;
	padding-top:10px;
	padding-left:10px;
	font-family: Corbel;
	font-weight: bold;
	font-size:12px;
	
}
