 /* serial folder */
.SerialBox {
    margin: 15px auto;
    max-width: 1200px;
}

.SerialBox .cell {
    padding-top: 20px;
    cursor: pointer;
}

.SerialBox .cell .frame {
    min-width: 200px;
    max-width: 294px;
    text-align: center;
}

.SerialBox .cell .frame img {
    width: 100%;
}
.SerialBox .cell A {
    color: black;
}

.SerialBox .cell .caption {
    border-left: solid 1px #acacac;
    border-right: solid 1px #acacac;
    border-bottom: solid 1px #acacac;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    font-family: Corbel;
    font-weight: bold;
    font-size: 1.1em;
}