extends ../partials/layout

//- Override default config variables
append config
    - var pageTitle = 'Paintings - CCY CHEN'
    - var pageCate = 'paintings'
    - var root = "../"
    
//- Page Content
block content
    div.container.drawingList
        div.caption.row
            div.col-4
                hr
            span.col-4.bg-color-paintings
                | paintings
            div.col-4
                hr
        div.row.items
            +drawing-item("basal market",root + "img/cover/painting/basalmarket.jpg","basal-market.html")
            +drawing-item("my room",root + "img/cover/painting/myroom.jpg","my-room.html")
            +drawing-item("papua",root + "img/cover/painting/papua.jpg","papua.html")
            +drawing-item("p-m",root + "img/cover/painting/p-m.jpg","p-m.html")
            +drawing-item("salagou",root + "img/cover/painting/salagou.jpg","salagou.html")