//
// Scaffolding
// --------------------------------------------------
html, body {
  margin: 0;
  padding: 0;
  left: 0;
  min-width: 300px;
  height: 100%;
  width: 100%;
 
  color: $body-color;
  font: {
    family: $font-family-base;
    size: $font-size-md;
    weight: $font-weight-base;
  }
}

// Links
a {
  text-decoration: none;
  color: $body-color;
  &:hover{
    color: $body-color;
  }
}


.bg-color-serial{
  background-color: $cate-serial;
}
.bg-color-paintings{
  background-color: $cate-paintings;
}
.bg-color-sketchbook{
  background-color: $cate-sketchbook;
}

.spacer{
  height: 2em;
}