extends ../partials/layout

//- Override default config variables
append config
    - var pageTitle = 'Serial - Bathing Suit - CCY CHEN'
    - var pageCate = 'serial'
    - var root = "../"

//- Page Content
block content
    div.container.single
        img(src=root +"works/serial/bathing-suit/1y1-f.jpg")
        div.spacer
        img(src=root +"works/serial/bathing-suit/1y1-X1.jpg")
        div.spacer
        img(src=root +"works/serial/bathing-suit/1y1-X2.jpg")