extends ../partials/layout

//- Override default config variables
append config
    - var pageTitle = 'Serial - Bathing Suit - CCY CHEN'
    - var pageCate = 'serial'

//- Page Content
block content
    div.container.single
        img(src="/works/serial/bathing-suit/1y1-f.jpg")
        div.spacer
        img(src="/works/serial/bathing-suit/1y1-x1.jpg")
        div.spacer
        img(src="/works/serial/bathing-suit/1y1-x2.jpg")