extends ../partials/layout

//- Override default config variables
append config
    - var pageTitle = 'Serial - CCY CHEN'
    - var pageCate = 'serial'
    - var root = "../"
//- Page Content
block content
    div.container.categoryList.folder
        div.caption.row
            div.col-4
                hr
            span.col-4.bg-color-serial
                | Serial
            div.col-4
                hr
        div.row.items
            +folder-item("bathing suit",root + "img/cover/serial/bathing suit.png","bathing-suit.html")
            +folder-item("borneo",root + "img/cover/serial/borneo.jpg","borneo.html")
            +folder-item("fishing",root + "img/cover/serial/fishing.png","fishing.html")
            +folder-item("green juice",root + "img/cover/serial/green_juice.jpg","green-juice.html")
            +folder-item("i love",root + "img/cover/serial/i_love.jpg","i-love.html")
            +folder-item("jesuisla",root + "img/cover/serial/jesuisla.jpg","jesuisla.html")
            +folder-item("meting penguin",root + "img/cover/serial/meting_penguin.jpg","meting-penguin.html")
            +folder-item("movie comic",root + "img/cover/serial/moviecomic.png","movie-comic.html")
            +folder-item("Papa Uke",root + "img/cover/serial/Papa_Uke.png","papa-uke.html")
            +folder-item("piece 18",root + "img/cover/serial/piece18.png","piece18.html")
