.drawingList {
    margin: 3em auto;
    padding: auto;
    @media (max-width: $screen-md) {
        padding: 1em;
    }
    .caption{
        margin: 0;
        //display: none;
        &.show{
            display: flex!important;
        }
        @media (max-width: $screen-sm) {
            display: flex;
        }
        padding: 0 1em;
        @media (max-width: $screen-md) {
            padding: 0 .5em;
        }

        height: 1.6em;
        width:100%;

        div{
            padding: 0;
            margin: 0;
        }
        div:first-child{
            padding-right:1em;
        }
        div:last-child{
            padding-left:1em;
        }

        hr{
            padding: 0;
            margin: 0;
            position: relative;
            height: 0;
            border-top: 2px dashed darkgray;
            top:0.8em;
        }

        span{
            padding: 0;
            display: inline-block;
            height: 1.6em;
            line-height: 1.6em;
            vertical-align: middle;
            text-align: center;
            color: $gray-dark;
            font-size: 1.5em;
            margin-bottom: 1em;
            text-transform: capitalize;
        }
    }

    
    .items{
        margin: 0;
        padding: 0px;
        
        .drawingItem{
            cursor: pointer;
            margin: 0;
            padding: 2em 2.4em;
            
            @media (max-width: $screen-md) {
                padding: 1.2em .8em;
            }

            A{
                margin: auto;
                padding: 0;
                display: inline-block;
                text-transform: capitalize;
                text-decoration: none; 

                IMG{
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
        
                SPAN{
                    display: inline-block;
                    color: $body-color;
                    font-weight:normal;
                    font-size: 1em;
                    font-weight: 600;
                    width: 100%;
                    @media (max-width: $screen-md) {
                        font-size: .8em;
                    }
                }
                SPAN.caption{
                    padding: 0.5em 0;
                }
              
                DIV.remark{
                    display:flex;
                    justify-content: space-between;
                    
                    SPAN.remark-right{
                        text-align: right;
                    }
                }
            }
        }
    }
}