/*for folder*/
.categoryList {
    &.folder{
        margin: 3em auto;
        padding: auto;
        .caption{
            margin: 0;
            display: none;
            @media (max-width: $screen-sm) {
                display: flex;
            }
        }

        .categoryItem{
            padding: 2em 1.5em;
            @media (max-width: $screen-md) {
                padding: 1.2em .8em;
            }
        }
    }
}