.gallery{
    @media (max-width: $screen-lg) {
        width:100%;
    }      
    width: 80%;
    margin: auto;

    & .title{
        text-align: center;
        color: $gray-dark;
        font-size: 1.5em;
        margin-bottom: 1em;
        text-transform: capitalize;
    }

    & .container-fluid{
        & .row{
            margin-left: 0px;
            margin-top: 15px;
            & a:nth-child(n+2){
                margin-left:15px;
            }
        }
    }

    & .album{
        margin-top:10px;
        margin-bottom:10px;
        min-width:300px;
    }
}