/* logo */
header{
    padding-top: 1em;
    height: 15em;
    @media (max-width: $screen-sm) {
        height: 7em;
    }
}

.header-logo{
    margin-left: 5%;
    height:7em;    
    @media (max-width: $screen-sm) {
        height:5em;
        margin-left: 1em;
    }
}

.header-nav{
    margin-top: .5em;
    margin-left: 10%;
    @media (max-width: $screen-sm) {
        display:none;
    }

    & .nav-link{
        display: inline-block;
        padding: .5em 1em;
        margin-right: 2em;
        font-weight: bold;
        color: black;
        text-transform: uppercase;  
        font-size: 1em;
        &.home{
            &.active, &:hover{
                background-color: $cate-home;
            }
        }
        &.serial{
            &.active, &:hover{
                background-color: $cate-serial;
            }
        }
        &.sketchbook{
            &.active, &:hover{
                background-color: $cate-sketchbook;
            }
        }
        &.paintings{
            &.active, &:hover{
                background-color: $cate-paintings;
            }
        }
        &.about{
            &.active, &:hover{
                background-color: $cate-about;
            }
        }
    }    
}

.header-ruler{
    margin: 0px;
    height: 2px;
    width: 100%;
    background-color:$body-color;
    border: none;
    @media (max-width: $screen-sm) {
        display:none;
    }
}   