/* Mobile Menu */
.mobile-nav-toggle{
    position: absolute;
    top:1.5em;
    right: 1em;
    z-index: 999;
    display: none;
    & i{
        color: $body-color;
        font-size: 2em;
    }

    @media (max-width: $screen-sm) {
        display: block;
    }
}

#mobile-nav{
    &.active{
        display: block;
    }

    z-index: 999;
    display: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    top:7em;
    bottom: 0;
    width:100%;
    padding-top: 2em;
    background-color: $mobile-nav-bg;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    & .nav-links{
        & A{
            text-decoration: none;
            text-align: center;
            display: block;
            font-weight: bold;
            text-transform: uppercase;  
            font-size: 1em;
            color: black;
            padding: 1.5em;
        }
    }

    & .contact-block{
        width: 100%;
        margin:0;
        padding: 0;
        position: absolute;
        bottom: 5em;

        & > DIV{
            padding: 0;
        }
    }

    & .contacts{
        width: 100%;
        margin:0;
        font-size: 2.4em;

        & > A{
            padding:0;
            text-align: center;
        }
    }
}


