.single{
    & .chapter{
        &:first-child{
            margin-top: 10px;
        }
        &:nth-child(n+2){
            margin-top: 30px;
        }
        
        width: 100%;
        & .title{
            color: $gray-dark;
            font-weight: bold;
            font-size: 1.5em;
        }
        & .pic{
            margin: 5px auto;
            & .slogan{
                text-align: center;
                color: $gray-dark;
                font-size: 1.5em;
            }
            &.banner{
                img{
                    height: 400px;
                    object-fit: cover;                                        
                }
                & .date{
                    color: $gray-dark;
                    font-size: 1.2em;
                    font-style: italic;
                }
            }
            &.typeA{
                @media (max-width: $screen-sm) {
                    width:100%;
                }    
                width: 70%;
            }
            & img{
                width: 100%;                
            } 
            & UL.tags{
                list-style-type: none;
                margin: 3px 0px;
                padding: 0;
                display: block;
                li{
                    &:nth-child(n+2){
                        margin-left: 5px;
                    }    
                    display: inline;
                }
            } 
        }

        & .text{
            width:80%;            
            margin: auto;
            
            @media (max-width: $screen-sm) {
                width:100%;
            }
        }
    }
}

.swiper-container {
    width: 95%;
    max-height: 800px;
}

.swiper-slide-active{z-index:999}