extends partials/layout

//- Override default config variables
append config
    - var pageTitle = 'About - CCY CHEN'
    - var pageCate = 'about'
    - var root = "/"

//- Page Content
block content
    div.container.about-container
        div.row.caption
            div.col-4
                hr
            span.col-4
                | about
            div.col-4
                hr
        div.row
            div.col-sm-12.col-md-4
                img.about-photo(src="img/ccy.jpg", alt="CCY CHEN", title="CCY CHEN")
            div.col-sm-12.col-md-4
                p
                    | CCY Chen is a freelance illustrator and Artist based in France. She was born in Shanghai, China, graduated from Shanghai Theatre Academy. After study in university she has been working three years in the industry of Game Art design. She is always passionate about drawing and painting, it’s both her job and hobby. Always looking for her personal style, and always looking for breakthroughs and creativity. Apart from computer graph she also likes to try different types of painting materials, such as watercolour, Chinese watercolour, Japanese pigment art, acrylic and so on.
            div.col-sm-12.col-md-4
                p
                    | 1988年出生在中国上海，2010年毕业于上海戏剧学院，有3年游戏美术设计经验。对画图一直抱有热情，是工作也是兴趣爱好，不断的寻找自己的风格，也不断的寻找突破和创新。除了擅长使用电脑创作，同时也喜欢尝试使用不同的手绘材质，比如，水彩，中国画，岩彩，丙烯 等。
                p.spacer
                p
                    | Née à Shanghaï en Chine en 1988, diplômée du Shanghaï Theater Academy en 2010. Trois ans d’expérience dans le design graphique de jeux vidéos. J’ai toujours été passionné par le dessin et la peinture, ce qui me permet d’allier ma passion avec mon travail. Toujours en quête de mon propre style, et toujours à la recherche de créativité. Outre le design numérique, j’aime aussi expérimenter differents types de matériaux, l’aquarelle, l’encre de Chine, les pigments japonais, la peinture acrylique et bien d’autres.
    div.about-bg-img