extends partials/layout

//- Override default config variables
append config
    - var pageTitle = 'CCY CHEN'
    - var pageCate = 'home'

//- Page Content
block content
    div.container.homepage
        img(src="/portfolio/home/recopy02.JPG")