extends partials/layout

//- Override default config variables
append config
    - var pageTitle = 'CCY CHEN'
    - var pageCate = 'home'


block endHeadBlock
    <link rel="stylesheet" href="lib/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="lib/owlcarousel/owl.theme.default.min.css">

block afterBodyBlock
    script(src="lib/owlcarousel/owl.carousel.min.js" type="text/javascript")

//- Page Content
block content
    include partials/slider
    include partials/categories