extends partials/layout

//- Override default config variables
append config
    - var pageTitle = 'Serial - CCY CHEN'
    - var pageCate = 'serial'

//- Page Content
block content
    div.container.categoryList.folder
        div.caption.row
            div.col-4
                hr
            span.col-4.bg-color-serial
                | Serial
            div.col-4
                hr
        div.row.items
            +folder-item("bathing suit","img/cover/serial/bathing suit.png","serial/bathing-suit.html")
            +folder-item("borneo","img/cover/serial/borneo.jpg","serial/borneo.html")
            +folder-item("fishing","img/cover/serial/fishing.png","serial/fishing.html")
            +folder-item("green juice","img/cover/serial/green_juice.jpg","serial/green-juice.html")
            +folder-item("i love","img/cover/serial/i_love.jpg","serial/i-love.html")
            +folder-item("jesuisla","img/cover/serial/jesuisla.jpg","serial/jesuisla.html")
            +folder-item("meting penguin","img/cover/serial/meting_penguin.jpg","serial/meting-penguin.html")
            +folder-item("movie comic","img/cover/serial/moviecomic.png","serial/movie-comic.html")
            +folder-item("Papa Uke","img/cover/serial/Papa_Uke.png","serial/papa-uke.html")
            +folder-item("piece 18","img/cover/serial/piece18.png","serial/piece18.html")
