extends ../partials/layout

//- Override default config variables
append config
    - var pageTitle = 'Sketch Book - CCY CHEN'
    - var pageCate = 'sketchbook'
    - var root = "../"

//- Page Content
block content
    div.container.categoryList.folder
        div.caption.row
            div.col-4
                hr
            span.col-4.bg-color-sketchbook
                | sketch book
            div.col-4
                hr
        div.row.items
            +folder-item("Ink & Pencil",root + "img/cover/sketchbook/ink.png","ink.html")
            +folder-item("Little Protraits",root + "img/cover/sketchbook/LITTLE_protraits.png","little-protraits.html")
            +folder-item("Salon Des Vin",root + "img/cover/sketchbook/Salon_des_vin.jpg","salon-des-vin.html")
            +folder-item("Sketch CG",root + "img/cover/sketchbook/Sketch_CG.png","sketch-cg.html")
            +folder-item("sai",root + "img/cover/sketchbook/sketchbook_SAI.png","sketch-sai.html")
            +folder-item("small color piece",root + "img/cover/sketchbook/smallcolorpiece.png","small-color-piece.html")
            +folder-item("travel in France",root + "img/cover/sketchbook/travel_in_France.png","travel-in-france.html")