extends ../partials/layout

//- Override default config variables
append config
    - var pageTitle = 'Sketch Book - CCY CHEN'
    - var pageCate = 'sketchbook'
    - var root = "../"
    - var cateRoot = "/sketch-book/"

//- Page Content
block content
    div.container.categoryList.folder
        div.caption.row
            div.col-4
                hr
            span.col-4.bg-color-sketchbook
                | sketch book
            div.col-4
                hr
        div.row.items
            +folder-item("Ink & Pencil", cateRoot + "covers/ink.png","ink-and-pencil.html")
            +folder-item("Little Protraits", cateRoot + "covers/little-protraits2.png","little-protraits.html")
            +folder-item("Ipad portairts", cateRoot + "covers/ipad-protraits.png", "ipad-protraits.html")
            +folder-item("CGsketch", cateRoot + "covers/sketch-cg.png", "sketch-cg.html")
            +folder-item("sai", cateRoot + "covers/sketchbook_SAI.png","sai.html")
            +folder-item("little color piece", cateRoot + "covers/smallcolorpiece.png", "little-color-piece.html")
            +folder-item("travel in France", cateRoot + "covers/travel_in_France.png", "travel-in-france.html")