div.container.categoryContainer
    div.row
        div.categoryList.container.col-12.col-md-6.col-xl-4
                div.caption.row
                    div.col-5.dottedline
                    span.col-2.bg-color-serial
                        | serial
                    div.col-5.dottedline  
                div.items.row
                    +category-item("movie comic","img/cover/serial/moviecomic.png","#")
                    +category-item("Green Juice","img/cover/serial/green_juice.jpg","#")

        div.categoryList.container.col-12.col-md-6.col-xl-4
                div.caption.row
                    div.col-4.dottedline
                    span.col-4.bg-color-sketchbook
                        | sketchbook
                    div.col-4.dottedline
                div.items.row
                    +category-item("Salon des vin","img/cover/sketchbook/Salon_des_vin.jpg","#")
                    +category-item("travel in France","img/cover/sketchbook/travel_in_France.png","#")

        div.categoryList.container.col-12.col-md-6.col-xl-4
                div.caption.row
                    div.col-4.dottedline
                    span.col-4.bg-color-paintings
                        | paintings
                    div.col-4.dottedline
                div.items.row
                    +category-item("Basal Market","img/cover/painting/basalmarket.jpg","#")
                    +category-item("My Room","img/cover/painting/myroom.jpg","#")