// START footer
block config
  include ../helpers/config

footer(class=pageCate)
  div.contact
    a(href="https://www.facebook.com/Ccychen-546612609088383")
      i.fab.fa-facebook-square
    a(href="https://www.instagram.com/ccychen111")
      i.fab.fa-instagram-square

    a(href="https://www.weibo.com/u/1582690861")
      i.fab.fa-weibo

    a(href="mailto:webcontact@ccychen.com")
      i.fas.fa-envelope
  
  div.copyright
    | All works copyright© ccy chen, please do not use without permission

  div.mini-copyright
    | &copy; ccychen

// END footer
