// START footer
block config
  include ../helpers/config

footer(class=pageCate)
  div.contact
    a("#")
      i.fab.fa-facebook-square
    a("#")
      i.fab.fa-instagram-square

    a("#")
      i.fab.fa-weibo
    
    a("#")
      i.fab.fa-weixin

    a("#")
      i.fas.fa-envelope
  
  div.copyright
    | All works copyright© ccy chen, please do not use without permission

  div.mini-copyright
    | &copy; ccychen

// END footer
