// START header
block config
  include ../helpers/config

header
  a(href='/')
    img.header-logo(src='/img/LOGO.png')
 
  // navigator
  nav.header-nav
    if pageCate != "home"
      a.nav-link.home(href='index.html') Home
    else
      a.nav-link.home(href='index.html').active Home
    
    if pageCate != "serial"
      a.nav-link.serial(href='/serial') Serial
    else
      a.nav-link.serial(href='/serial').active Serial
    
    if pageCate != "sketchbook"
      a.nav-link.sketchbook(href='/sketch-book') Sketch Book
    else
      a.nav-link.sketchbook(href='/sketch-book').active Sketch Book


    if pageCate != "paintings"
      a.nav-link.paintings(href='/paintings') Paintings
    else
      a.nav-link.paintings(href='/paintings').active Paintings


    if pageCate != "about"
      a.nav-link.about(href='/about.html') About
    else
      div.nav-link.about.active About

  
  hr.header-ruler

  
