doctype html
html
    //- head.pug template
    include head 
    //- Body
    body
        include MobileMenu

        include Header

        //- START content
        div.content-block        
            block content
        //- END content
        
        div.spacer

        include Footer
    
    //- scripts    
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    block afterBodyBlock
    script(src=root + "main.min.js" type="text/javascript")
