// START mobile navi
a.mobile-nav-toggle(href='#')
    i.fas.fa-bars

div#mobile-nav
    div.nav-links
        a(href='index.html') Home
        a(href='serial.html') Serial
        a(href='sketch-book.html') Sketch Book
        a(href='paintings.html') Paintings
        a(href='about.html') About

    div.contact-block.row
        div.col-8.offset-2
            div.row.contacts
                a.col-3("#")
                    i.fab.fa-facebook-square
                
                a.col-3("#")
                    i.fab.fa-instagram-square

                a.col-3("#")
                    i.fab.fa-weibo
                
                a.col-3("#")
                    i.fab.fa-weixin

                a.col-3("#")
                    i.fas.fa-envelope