// START mobile navi
a.mobile-nav-toggle(href='#')
    i.fas.fa-bars

div#mobile-nav
    div.nav-links
        a(href='/') Home
        a(href='/serial') Serial
        a(href='/sketch-book') Sketch Book
        a(href='/paintings') Paintings
        a(href='/about.html') About

    div.contact-block.row
        div.col-8.offset-2
            div.row.contacts
                a.col-3(href="https://www.facebook.com/Ccychen-546612609088383")
                    i.fab.fa-facebook-square
                
                a.col-3(href="https://www.instagram.com/ccychen111")
                    i.fab.fa-instagram-square

                a.col-3(href="https://www.weibo.com/u/1582690861")
                    i.fab.fa-weibo

                a.col-3(href="mailto:webcontact@ccychen.com")
                    i.fas.fa-envelope