nav.fh5co-nav(role='navigation')
  .container-wrap
    .top-menu
      .row
        .col-xs-2
          #fh5co-logo
            a(href='index.html') CCY
        .col-xs-10.text-right.menu-1
          ul
            li.active
              a(href='index.html') Home
            li
              a(href='#') Illustration
            li.has-dropdown
              a(href='#') Serial
              ul.dropdown
                li
                  a(href='#') Young Forever
                li
                  a(href='#') Echo's Trip
                li
                  a(href='#') Fishing
                li
                  a(href='#') Little Protraits
                li
                  a(href='#') Movie Comic
            li
              a(href='about.html') About
// END nav