// START slider
div.owl-carousel.owl-theme
  div.item
    a(href="#")
      img(src="img/slider/b1.jpg")

  div.item
    a(href="#")
      img(src="img/slider/b2.jpg")
  
  div.item
    a(href="#")
      img(src="img/slider/b3.jpg")
  
