// START slider
div.owl-carousel.owl-theme
  div.item
    a(href="#")
      img(src="img/slider/home-s-1.jpg")

  div.item
    a(href="#")
      img(src="img/slider/home-s-3.jpg")
  
  div.item
    a(href="#")
      img(src="img/slider/home-s-2.jpg")
  
  div.item
    a(href="#")
      img(src="img/slider/home-s-4.jpg")
  
